.footer {
  background-color: $bg-dark;
  color: $primary;
  text-align: center;
}

.simpleLine {
  height: 2px;
  background-color: $primary;
}

.mainRow {
  padding-top: 5px;
}

h4 {
  color: $font-light;
}

p {
  color: $font-grey;
  transition: all 0.5s;
  &:hover {
    transform: translateX(-15px);
  }
}

span{
    color: $font-grey;
}